---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// restore margin for h1, it shouldn't be 0
h1 {
  margin-top: revert;
}

.alert {
  color: $warning-color;
  fill: $warning-color;
}

.info {
  color: $info-color;
  fill: $info-color;
}

