---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// We are removing h1's from the content because we're showing that text in the splash page header
section.page__content h1 {
  display: none;
}

.alert {
  color: $warning-color;
  fill: $warning-color;
}

.info {
  color: $info-color;
  fill: $info-color;
}

.navigation svg {
  color: $link-color;
  fill: $link-color;
  vertical-align: text-bottom;
}
