name: Publish to Github Pages

on:
  workflow_dispatch: 
  push:
    branches:
      - daniella


# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Fix the base url
        run: |
          echo "baseurl: ${{ github.event.repository.name }}" >> _config.yml
      - name: Split the files 
        run: |
          tools/setup-pages.sh
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'    
      - name: Build Jekyll Pages
        run: |
          NOKOGIRI_USE_SYSTEM_LIBRARIES=true bundle install --quiet --gemfile=tools/Gemfile
          github-pages build --source=dist        
      - name: Set up Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '_site'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
