name: Validate formatting

on: 
  pull_request:
    branches:
    - main

jobs:
  pages:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Split the files 
      run: |
        tools/setup-pages.sh
